<!-- start content setup -->
<div class="cover">

</div>
<div class="cover">
	<div class="first_page">
		<h1>If your actions inspire others to 
		<h1>dream more, learn more, do more </h1>
		<h1>and become more, you are a leader.</h1>	
	</div>
	<h3 class="user">-- John Quincy Adams </h3>
</div>
<div class="page">
	<h1 class="journey_begins_page">Thanks Venkat for inspiring us.</h1>
	<h3 class="user">NTT - TIAA Team</h3>	
</div>
<!-- page 4-5 -->
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first mbxlg big">Personal Info</p>
			<p class="second mbxlg mtm">Date of Birth : 6th Nov</p>
			<p class="third mbxlg mtm">Birth Place: Chennai, Tamil Nadu</p>
			<p class="fourth mbxlg mtm">Schooling : Central School, Bhutan</p>
			<p class="fifth mbxlg mtm">Gradution : St. Xavier's College, Kolkata, West Bengal</p>
		</div>		
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big">Milestones</p>
			<p class="second"><img src="images/venkat-milestone.png" width="750px"   title="milestone" alt="childhood"/></p>
			
		</div>
	</div>
</div>
<!-- page 4-5 ends-->
<!-- page 6-7 -->
<div class="page">
	<div class="content">
		<p class="first mtm big">Professional Info</p>
		<p class="second">16 years of experience in delivering world class web sites and applications for Fortune 500 companies like TIAA,
		AIG, Deloitte, UPS, Warner Music Group etc. encompassing Finance, Transportation, Insurance and Entertainment industries. </p>
		<p class="second">Strong knowledge across the design and development continuum including Strategy, User Centered Design,
		Front-end Technology and Quality Assurance – critical to delivering online applications that achieve business goals.</p>
		<p class="second">Supported global businesses in the scoping, planning and execution of numerous B2B and B2C eCommerce
		initiatives across Consumer and Business Insurance lines.</p>
		<p class="second">Experienced eCommerce manager at AIG, the world's largest Insurance Company and was Part of the team that launched a Rich Internet Application
		 process for Travel Insurance at AIG’s UK subsidiary.</p>
				
	</div>
</div>
<div class="page">
	<div class="content">
		<p class="first mtm big">Down from Memory Lane...</p>
		<p class="second memory mtm mlxlg"><img src="images/childhood.jpg" width="279px" height="539px" title="childhood" alt="childhood"/></p>
	</div>
</div>
<!-- page 6-7 ends-->
<!-- page 8-9 -->
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first mlxlg mtm big">With Daughter, Renu</p>
			<p class="second memory mlxlg"><img src="images/personal.jpg" width="750px" height="563px" title="Venkat" alt="Venkat"/></p>			
		</div>
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first mlxlg mtm big">Extended Family - UX Onshore</p>
			<p class="second mlxlg"><img src="images/team1.jpg" width="750px" height="563px"  title="UX Onshore" alt="UX Onshore"/></p>				
		</div>
	</div>
</div>
<!-- page 8-9 -->
<!-- 10 -- 11 -->
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm">Extended Family - UX Onshore</p>			
			<p class="second"><img src="images/onshore.jpg" width="750px" height="563px"  title="UX Onshore" alt="UX Onshore"/></p>	
		</div>
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm">Extended Family - UX Offshore</p>
			<p class="second"><img src="images/offshore.jpg" width="750px" height="563px"  title="Friend" alt="Proud Moments"/></p>
		</div>
	</div>
</div>

<!-- 10--11 ends -->
<!-- 12 -- 13 -->
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm">With a Friend..</p>
			<p class="second"><img src="images/friend1.jpg" width="750px" height="563px"  title="Friend" alt="Friend"/></p>
		</div>
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm">Proud Moments...</p>
			<p class="second"><img src="images/proud_moments.jpg" width="750px" height="563px"  title="Friend" alt="Proud Moments"/></p>
		</div>
	</div>
</div>

<!-- 12 -- 13 ends-->

<!-- 14 --15 -->
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first mtm big mlxlg">Message from Angelo Mancini</p>
			<p class="second">				
				<video width="848" height="480" id="angelo_video"> 
					<source src="objects/angelo.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
			</p>
		</div>
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm mlxlg">Message from Shivam Patel</p>
			<p class="second">				
				<video width="800" height="480" id="shiv_video">
					<source src="objects/shiv.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>				
			</p>
		</div>
	</div>
</div>
<!-- 14 -- 15 ends -->
<!-- 16 -- 17  -->

<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm mlxlg">Message from Rashmi Kapoor</p>
			<p class="second">				
				<video width="800" height="480" id="rashmi_video">
					<source src="objects/rashmi.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>				
			</p>
		</div>
	</div>
</div>

<div class="page">
	<div class="wrap">
		<div class="content">			
			<p class="mlxlg first big">Few words from colleagues</p>
			<p class="mlxlg second mtm">"A great mentor, leader and a good friend. He taught me office ethics, how to be pro. Working for him I felt more capable,
			smarter. As a part of team, I am sure each & every one in the team feels the same. He motivates the passion & encorages to do new things, 
			considers the team as his family. Thanks you, is very small word for you, Venkat"</p>	
			<p class="mlxlg third"> - Mohammed Rafi</p>
			<div class="clear"></div>
		</div>
	</div>
</div>

<!-- 16 -- 17 ends -->
<!-- 18 --19  -->
<div class="page">
	<div class="wrap">
		<div class="content">			
			<p class="mlxlg first big">Few words from colleagues</p>
			<p class="mlxlg second mtm">"Leading a workplace is no easy task. It's meeting tight deadlines and making tough decisions.You have set the example and doing what it takes to succeed.
We have learned so much because of you. You encourage us to be the best we can be. We will always be thankful to you for all the hard work and effort
you have put in to make us who we are today."</p>	
			<p class="mlxlg third"> - Hemasunadr Reddy Katila</p>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">			
			<p class="mlxlg first big">Few words from colleagues</p>
			<p class="mlxlg second">Hello Venkat,</p>
			<p class="mlxlg second">Good to know that you are visiting <strong>NTT Team</strong></p>
			<p class="mlxlg second">I feel great that I have got an opportunity to work under your leadership.</p>
			<p class="mlxlg second">You are always there to support the team. I really admire your leadership.</p>
			<p class="mlxlg second">I wanted to take this opportunity to say a BIG <strong>"THANK YOU"</strong> for everything you did for this team!</p>
			<p class="mlxlg second">Hope you will <strong>have memorable</strong> time with our team in Bengaluru !</p>
			<p class="mlxlg third"> - Satya Narayana Juthuga</p>
		</div>
	</div>
</div>

<!-- 18 --19 ends -->
<!-- 20 -- 21  -->
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="first big mtm">Few words from colleagues</p>
			<p class="second">
				VG as a BOSS is very transparent on Project Inflow/Progress/Productivity. He gives ample comfort to set realistic goals on the project assigned.
				He excels in making effective use of resources & encourages team to solve their problems in responsible way.</p>
			<p class="second">Venkat builds strong relationship with the clients and excels in facilitating group discussions on new technologies and implementaion
			.</p>
			<p class="second">I am very happy that I am part of your team.</p>
			<p class="mlxlg third"> - Seelam Ram Kumar</p>
		</div>
	</div>
</div>
<div class="page">
	<div class="wrap">
		<div class="content">
			<p class="mlxlg first mtlg">You have travelled long distance to remind all of us how important our work is.</p>
			<p class="mlxlg second big">Thank you Venkat, for visiting us...</p>
		</div>
	</div>
</div>
<!-- 20 -- 21 ends -->
<div class="cover">
	
</div>
